<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>nSync Photo Page</title>
    <link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="browser/styles.css" rel="stylesheet" />
    <script src="vendor/angular/angular.js" defer></script>
    <script src="vendor/openseadragon/build/openseadragon/openseadragon.js" defer></script>
    <script src="vendor/angular-ui-router/release/angular-ui-router.js" defer></script>
    <script src="browser/js/app.js" defer></script>
    <script src="browser/js/controllers/mosaic.controller.js" defer></script>
    <script src="browser/js/controllers/mosaic.controller2.js" defer></script>
    <script src="browser/js/controllers/welcome.controller.js" defer></script>
    <script src="browser/js/states.js" defer></script>
    <script src="browser/js/mosaic.Factory.js" defer></script>
    <base href="/"/>


  </head>

<!-- <body> -->
  <body ng-app="photoServerApp">

  <ui-view></ui-view>

  </body>

</html>
