<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>nSync Photo Page</title>
    <link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="browser/styles.css" rel="stylesheet" />
    <!-- <script src="vendor/angular/angular.js" defer></script> -->
    <script src="vendor/openseadragon/build/openseadragon/openseadragon.js" defer></script>
    <!-- <script src="vendor/angular-ui-router/release/angular-ui-router.js" defer></script> -->

    <script src="browser/js/app.js" defer></script>

  </head>

<body>

  <div id="openseadragon1" style="width: 1600px; height: 800px;"></div>
>


  <!-- <body ng-app="photoServerApp" ng-controller="mosaicController"> -->
    <!-- <ui-view></ui-view> -->
    <h1>Hello World{{photo}}</h1>


  </body>
</html>
